<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>python</li>
    <li>SQL</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>matplotlib</li>
    <li>scipy</li>
    <li>scikit-learn</li>
    <li>keras</li>
</ol>

table of Data Science tools.
| development environment  |Tools|
|---|---|
|data management   |mysql, postgres, SQLite|
|data visualization|kibana, Apache superset|
|data intergration&transformation| apache Nifi, nodered|

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Below are a few examples of evaluating arithmetic expressions in Python 2+2, 3-3, 2*3, 4/2

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

#### Objectives; 
- creating cells(markdown and code)
- data science languages,libraries and tool, 
- arithmetic expressions in python
- python
- jupyter notebook

## Author
MARAGWA